<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="{{ url_for('index')}}">Azubi</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a title="Students" href="{{ url_for('addstudentform')}}" class="sidebar-link">
                <i class="lni lni-user"></i>
                <span>Students</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a title="Assignment" href="{{ url_for('add_assignment')}}" class="sidebar-link">                
                <i class="lni lni-agenda"></i>
                <span>Assignments</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a title="Attendance" href="{{ url_for('add_week_attendance')}}" class="sidebar-link">
                <i class="lni lni-layout"></i>
                <span>Attendance</span>
            </a>
        </li>
        
        <li class="sidebar-item">
            <a title="Authentication" href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                <i class="lni lni-protection"></i>
                <span>Auth</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Login</a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link">Register</a>
                </li>
            </ul>
        </li>

        <li class="sidebar-item">
            <a title="Notification" href="#" class="sidebar-link">
                <i class="lni lni-popup"></i>
                <span>Notification</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a title="Settings" href="#" class="sidebar-link">
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a title="Logout" href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>
